<div class="header">
    <a class="logo" href="/"><img src="./assets/icons/menu_logo.png" alt=""></a>
    <label for="toggle-menu" class="hamburger">&#9776;</label>
    <div class="menu">
        <li>
            <a class="botao-menu" href="./" home>Início</a>
        </li>

        <li>
            <a class="botao-menu" href="./primeiros passos.html" first-steps>Primeiros Passos</a>
        </li>

        <li>
            <a class="botao-menu dropdown" about estatuto manifesto>Sobre Nós</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./estatuto.html" estatuto>Estatuto</a>
                </li>

                <li>
                    <a class="botao-menu" href="./manifesto.html" manifesto>Manifesto</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="botao-menu" href="./faq.html" faq>Perguntas Frequentes</a>
        </li>

        <li>
            <a class="botao-menu" href="./curadoria.html" curadoria>Sugestão de Projeto</a>
        </li>

        <li>
            <a class="botao-menu" projetos andamento finalizado>Projetos</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./projetos em andamento.html" andamento>Andamento</a>
                </li>

                <li>
                    <a class="botao-menu" href="./projetos finalizados.html" finalizado>Finalizados</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="botao-menu" cadastro membros camaradas>Cadastro</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./membros.html" membros>Membros</a>
                </li>

                <li>
                    <a class="botao-menu" href="./camaradas.html" camaradas>Camaradas</a>
                </li>
            </ul>
        </li>
    </div>

    <div class="menu-mobile" style="display: none;">
    </div>
    <div style="display: none;">
        <li>
            <a class="botao-menu" href="./" home>Início</a>
        </li>

        <li>
            <a class="botao-menu" href="./primeiros passos.html" first-steps>Primeiros Passos</a>
        </li>

        <li>
            <a class="botao-menu dropdown" about estatuto manifesto>Sobre Nós</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./estatuto.html" estatuto>Estatuto</a>
                </li>

                <li>
                    <a class="botao-menu" href="./manifesto.html" manifesto>Manifesto</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="botao-menu" href="./faq.html" faq>Perguntas Frequentes</a>
        </li>

        <li>
            <a class="botao-menu" href="./curadoria.html" curadoria>Sugestão de Projeto</a>
        </li>

        <li>
            <a class="botao-menu" projetos andamento finalizado>Projetos</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./projetos em andamento.html" andamento>Andamento</a>
                </li>

                <li>
                    <a class="botao-menu" href="./projetos finalizados.html" finalizado>Finalizados</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="botao-menu" cadastro membros camaradas>Cadastro</a>
            <ul class="sub-menu">
                <li>
                    <a class="botao-menu" href="./membros.html" membros>Membros</a>
                </li>

                <li>
                    <a class="botao-menu" href="./camaradas.html" camaradas>Camaradas</a>
                </li>
            </ul>
        </li>

        <a href="./"><img src="./assets/icons/footer_logo.png" alt=""></a>
    </div>
</div>